.contacts {
    height: 26px;
    padding: 12px 15px 12px;
}

.contacts-header {
    font-family: Inter, sans-serif;
    font-size: 22px;
    line-height: 26px;
    padding: 12px 0 12px;
}

.contact {
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 15px 20px;
}

.contact-image {
    height: 26px;
    width: 26px;
    float: left;
    margin: 0 6px 0 0;
}

.contact-text {

}

