.card-container {
    width: 820px;
    margin: 10px auto;
    transition: box-shadow 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}



.card-container:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background: rgba(255, 255, 255, 0.5);
}

.card-fio {
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    padding: 12px 15px 4px;
}

.card-job-position {
    font-family: Inter, sans-serif;
    font-size: 22px;
    line-height: 26px;
    padding: 4px 15px 12px;
}

.card-phone-number {
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 26px;
    padding: 12px 15px 12px;
}