.people-cards-main {

}

.people-cards {
    width: 1280px;
    margin: 0 auto;
}

.people-cards.expanded{
    width: 33%;
    //height: 100vh;
    background-color: #ce1365;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    //overflow: auto;
}

.people-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    //transition: transform 0.3s ease;
}

.people-card.expanded {
    //transform: scaleX(3);
    grid-column-start: 1;
    grid-column-end: 4;
}
.cards-container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: aqua;
}

.person-card:hover {
    background-color: #f5f5f5;
}

.selected-person-info {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    width: 30%;
}

.selected-person-info h2 {
    margin-top: 0;
}

.selected-person-info p {
    margin-bottom: 5px;
}