.education-container {
    padding: 4px 15px 12px;
}

.education-header {
    font-family: Inter, sans-serif;
    font-size: 22px;
    line-height: 26px;
    padding: 12px 0 12px;
}

.education-table {
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 26px;
}

.education-table td {
    padding: 0 0 10px 20px;
}